[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
peewee = "*"
psycopg2 = "*"
orjson = "*"
pendulum = "*"
paho-mqtt = "*"
pydantic = "*"

[dev-packages]
pytest = "*"
pytest-mock = "*"
pytest-cov = "*"

[requires]
python_version = "3.10"
